@model CRUD____.Models.MODEL
@{
    Layout = null;
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js">
</script>
@*<script src="~/Adminassets/plugins/jquery/jquery.min.js"></script>*@
<script src="https://Adminassets/Myplugins/jquery-ui/jquery-ui.js"></script>
<link href="https://Adminassets/Myplugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />

<script src="~/Adminassets/plugins/jquery/jquery.min.js"></script>


<script src="~/Adminassets/Myplugins/jquery-ui/jquery-ui.js"></script>
<link href="~/Adminassets/Myplugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />

<script type="text/javascript">

    
    $(document).ready(function ($) {
        $('#AppliactionDate').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            autoclose: true,
            todayHighlight: true,
            yearRange: '1950:2100'
        });
        $('#fdt').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            autoclose: true,
            todayHighlight: true,
            yearRange: '1950:2100'
        });
        $('#tdt').datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: "dd/mm/yy",
            autoclose: true,
            todayHighlight: true,
            yearRange: '1950:2100'
        });
    });

</script>

<main>
    @using (Html.BeginForm())
    {
        <div>
            <label>From Date</label>
            @Html.TextBoxFor(m=>m.fdt,new { @id="fdt",@class="datepicker-here form-control"})
        </div>
        <div>
            <label>To Date</label>
            @Html.TextBoxFor(m => m.tdt, new { @id = "tdt", @class = "form-control" })
        </div>
        <div>
            <input type="submit" value="@ViewBag.buttonname" name="Command"  />
        </div>
    }

   <table>
       <thead>
           <tr>
               <th>Sr.no.</th>
               <th>Name</th>
              <th>Qualification</th>
               <th>registration date</th>
           </tr>
       </thead>
       <tbody>
          @{ var s = 0;}
            @if (ViewBag.RDT != null)
           {
               foreach (var item1 in ViewBag.RDT)
               {
                   <tr>
                      <td>@(s=s+1)</td>
                       <td>@item1.Name</td>
                       <td>@item1.Qf</td>
                       <td>@item1.rdt</td>
                       
                       
                      
                   </tr>
               }
           }
       </tbody>
   </table>

    
</main>